name: Deploy Frontend to Azure Blob Storage

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      STORAGE_ACCOUNT_NAME: 'your-storage-account-name' # <-- TODO: Replace with your Storage Account name

    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: 'Login to Azure'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'Upload to Azure Blob Storage'
      uses: azure/CLI@v1
      with:
        inlineScript: |
          az storage blob upload-batch --account-name ${{ env.STORAGE_ACCOUNT_NAME }} --auth-mode login -d '$web' -s src
